body {
  background-color: hotpink;
}
* {
  box-sizing: border-box;
}
section {
  display: none;
}

h1 {
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: larger;
  text-align: center;
}

ul {
  max-width: 90%;
  margin: auto;
}

li {
  width: 33%;
  float: left;
}

img {
  width: 90%;
  margin: auto;
  display: block;
}

#templates {
  display: none;
}
